.margin{
    margin-top: 10px;
}
.padding{
    padding: 5px;
}
.marginleft{
}
.marginTop{
    margin-top: 20px;
}
.controlWidth{
    width: 400px;
}
@media print {
    .showInPrint{visibility: visible;}
}
@media print{
   .noprint{display:none !important;}
}
.hide{
    visibility: hidden;
}
.boxWidth{
    width:100%;
}
.checkboxWidth{
    width:20px;
}

