.margin{
    margin-top: 10px;
}
.padding{
    padding: 5px;
}
.marginleft{
}
.marginTop{
    margin-top: 20px;
}
.controlWidth{
    width: 400px;
}
@media print {
    .noMargin{
    margin: 0mm;
    }
}

@media print{
   .noprint{
       display:none !important;
   }
    #students-atts{
        width:1300px;
        left:0px;
    }
    #print-con{
        width:1300px;
        left:0px;
    }

}
@media print {
    .hide-scroll{
        overflow: hidden;
    }
}
.hide{
    visibility: hidden;
}
.boxWidth{
    width:100%;
}
.checkboxWidth{
    width:20px;
}
.pre-scrollable {
    max-height: 100%;
    overflow-y: hidden;
}
.tdWidth{
    max-width: 10px;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
.dropdown, .dropup {
    position: relative;
    line-height: 50px;
}
#language-li{
    right: 20px;
}
#lang-a{
    color: #ffffff;
}
.box-scroll{
    overflow: scroll;
}
.login-div{
    opacity: 0.8;
    margin:auto;
}
